body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

form {
    display: grid;
    gap: 10px;
}

input {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    padding: 10px;
    background-color: #FFB6C1;
    color: #fff;
    border: none;
}

button:hover {
    background-color: #FFB6C1;
}

#results {
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #d4d4d4;
    background-color: #f9f9f9;
    font-size: 1.2em;
    color: #333;
    text-align: center;
}

footer {
    margin-top: 30px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #FFB6C1;
}

footer a:hover {
    text-decoration: underline;
}

.equation {
    font-style: italic;
    color: #555;
    margin-bottom: 10px;
}

.error {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
